.special {
  color: orange;
  font-weight: bold;
  font-family: cursive;
}

.italic {
  font-style: italic;
  
}
a{
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #36505a;
  color: #6fd1f5;
  margin : 0 - .95rem;
  padding: 0-.95rem;
  transition : color .8s ease-in-out, box-shadow .7s ease-in-out;
}
a:hover{
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}

/*

a:link {
  color: pink;
}

a:visited {
  color: green;
}

*/